*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}

form, section {
    display: flex;
    flex-direction: column;

    width: calc(100% - 40px);

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 30px 20px;

}

@media (min-width: 450px) {
    form, section {
        width: 400px;
        border-radius: 10px;

        background-color: rgba(255, 255, 255, 0.13);
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        padding: 40px 30px;
    }
}

form *, section * {
    font-family: 'Roboto Light', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3, section h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 30px;
}

::placeholder {
    color: #e5e5e5;
}
input:focus::placeholder {
    color: transparent;
}

.separator {
    margin-bottom: 30px;
}

button {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.description {
    text-align: center;
}

img.status {
    display: flex;
    width: 250px;
    align-self: center;
}